@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700;900&family=Noto+Sans+TC:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  width: 100%;
  min-width: 375px;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Nunito', 'Noto Sans TC', robot, Inter, system-ui, sans-serif;

  line-height: 1.5;
  font-size: 14px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  ::-webkit-scrollbar {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

img {
  user-select: none;
}

/* 當用戶偏好深色主題時 */
@media (prefers-color-scheme: dark) {
  :root {
    color: #FFFFFF;
    background-color: #2a2932;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  input {
    border: 1px solid;
  }

  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media screen and (max-width: 1200px) {
  :root {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 12px;
  }
}
